<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 px-0" *ngFor="let item of items">
      <div class="carouselItem">
        <a [routerLink]="">
          <div class="card">
            <div class="poster-block">
              <img [routerLink]="'/movie/' + item.id"
                src="{{ imagePath + item.poster_path }}"
                class="card-img-top"
                alt="..."
              />
              <div class="circle-rating">
                <span>{{ item.vote_average.toFixed(1) }}</span>
              </div>
            </div>

            <div class="card-body">
              <h5 class="card-title">{{ item.title || item.name }}</h5>
              <p>{{ item.release_date || item.first_air_date }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
